<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>CSON</h4>
            <p>{{ 'converter' | translate }} {{ 'patterns' | translate | lowercase }}</p>
        </div>
        
        <div class="footer-section">
            <h4>{{ 'help' | translate }}</h4>
            <ul>
                <li><a href="#" (click)="showHelp($event)">{{ 'help' | translate }}</a></li>
            </ul>
        </div>
    
        <div class="footer-section">
            <h4>{{ 'forDevelopers' | translate }}</h4>
            <ul>
                <li><a href="#" (click)="showDev($event)">{{ 'forDevelopers' | translate }}</a></li>
            </ul>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>{{ 'copyright' | translate }}</p>
    </div>
</footer>