<div class="create-pattern-modal" *ngIf="isOpen">
    <div class="create-pattern-modal-backdrop" (click)="closeModal()"></div>
    <div class="create-pattern-modal-content">
        <div class="create-pattern-modal-header">
            <h3>Создание шаблона</h3>
            <button (click)="closeModal()">×</button>
        </div>
        <div class="create-pattern-modal-body">
            <form [formGroup]="createPatternForm" (ngSubmit)="onSubmit()">
                <div class="form">
                    <label for="pattern-name">
                        Название
                        <span class="required">*</span>
                    </label>
                    <input 
                    type="text" 
                    id="pattern-name" 
                    formControlName="name"
                    class="form-control"
                    [class.is-invalid]="isFieldInvalid(createPatternForm, 'name')"
                    placeholder="Введите Название шаблона">

                    <label>
                        Модификации
                        <span class="required">*</span>
                    </label>
                    <div formArrayName="modifications">
                        <div class="modification-row"
                        *ngFor="let modification of modifications.controls; let i = index"
                        [formGroupName]="i">
                            <input formControlName="old_name" placeholder="Старое имя поля">
                            <input formControlName="new_name" placeholder="Новое имя поля">
                            <select formControlName="new_type" class="type-selector">
                                <option *ngFor="let type of types" [value]="type">{{ type || 'Не задано' }}</option>
                            </select>
                            <input formControlName="new_value" placeholder="Новое имя поля">
                            <button type="button" 
                                    class="remove-btn" 
                                    (click)="removeModification(i)">
                                ×
                            </button>
                        </div>
                    </div>

                    <button class="add-btn" 
                            (click)="addModification()">
                        + Добавить модификацию
                    </button>
                    
                    <div *ngIf="createPatternForm.invalid">
                        Error
                    </div>

                    <button type="submit" 
                            class="submit-btn"
                            [disabled]="createPatternForm.invalid">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>

        <div class="create-pattern-modal-footer">
            <button (click)="closeModal()" class="close-btn">Закрыть</button>
        </div>
    </div>
</div>
