.template-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.template-container {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.templates-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.template-card {
    background: white;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 30%;
}

.template-footer {
    border-top: 1px solid #dee2e6;
}