<button (click)="openForm()" class="create-btn">{{ 'createPattern' | translate }}</button>

<div class="create-pattern-modal" *ngIf="isOpen">
    <div class="create-pattern-modal-backdrop" (click)="closeModal()"></div>
    <div class="create-pattern-modal-content">
        <div class="create-pattern-modal-header">
            <h3>{{ 'creatingPattern' | translate }}</h3>
            <button (click)="closeModal()">×</button>
        </div>
        
        <form [formGroup]="createPatternForm" (ngSubmit)="onSubmit()" class="create-pattern-form">
            <div class="create-pattern-modal-body">
                <div class="form-content">
                    <div class="form-fields">
                        <label>
                            {{ 'patternTitle' | translate }}
                            <span class="required">*</span>
                        </label>
                        <input 
                        type="text"
                        id="pattern-name" 
                        formControlName="name"
                        class="form-control"
                        [class.is-invalid]="isFieldInvalid(createPatternForm, 'name')"
                        placeholder="{{ 'enterPatternName' | translate }}">

                        <div class="error-messages" *ngIf="isFieldInvalid(createPatternForm, 'name')">
                            <div *ngIf="createPatternForm.get('name')?.errors?.['required']">
                                {{ 'nameRequired' | translate }}
                            </div>
                            <div *ngIf="createPatternForm.get('name')?.errors?.['minlength']">
                                {{ 'minLengthName' | translate }}
                            </div>
                            <div *ngIf="createPatternForm.get('name')?.errors?.['maxlength']">
                                {{ 'maxLengthName' | translate }}
                            </div>
                        </div>

                        <label>
                            {{ 'modifications' | translate }}
                            <span class="required">*</span>
                        </label>

                        <div formArrayName="modifications">
                            <div class="modification"
                            *ngFor="let modification of modifications.controls; let i = index"
                            [formGroupName]="i">
                                <div class="modification-row">
                                    <div class="modification-inputs">
                                        <input formControlName="oldName" placeholder="{{ 'oldName' | translate }}">
                                        <input formControlName="newName" placeholder="{{ 'newName' | translate }}">
                                        <div class="type-selector-class">
                                            <type-selector
                                            [selectedType]="getTypeName(i)"
                                            (typeChange)="selectType($event, i)"></type-selector>
                                        </div>
                                        <input formControlName="newValue" placeholder="{{ 'newValue' | translate }}">
                                    </div>
                                    <button type="button" 
                                            class="remove-btn" 
                                            (click)="removeModification(i)">
                                        ×
                                    </button>
                                </div>
                                <div class="error-messages" *ngIf="modification.errors">
                                    <div *ngIf="modification.errors?.['typeMismatch']">
                                        {{ 'typeMismatch' | translate }}
                                    </div>
                                    <div *ngIf="modification.errors?.['oldNewValueRequired']">
                                        {{ 'oldNewValueRequired' | translate }}
                                    </div>
                                    <div *ngIf="modification.errors?.['maxlength']">
                                        {{ 'maxlength' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="add-btn" 
                                (click)="addModification()">
                            + {{ 'addModifications' | translate }}
                        </button>
                        
                        <div class="error-messages" *ngIf="createPatternForm.get('modifications')?.errors?.['minModificationsLength']">
                            <div>
                                {{ 'minModificationsLength' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-pattern-modal-footer">
                <button type="submit" 
                        class="submit-btn"
                        [disabled]="createPatternForm.invalid || isLoading"
                        >
                    <span *ngIf="!isLoading">{{ 'createPattern' | translate }}</span>
                    <span *ngIf="isLoading" class="spinner-small"></span>
                </button>
            </div>
            
        </form>
    </div>
</div>
